<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <% include('navbar') %>
    <div class="container mt-4">
        <h1>Carrito de Compras</h1>
    
        <% if (cartItems && cartItems.length > 0) { %>
            <div class="row">
                <% cartItems.forEach(item => { %>
                    <div class="col-md-6">
                        <div class="card cart-item-card">
                            <div class="card-body">
                                <h5 class="card-title"><%= item.nombre_producto %></h5>
                                <p class="card-text">Cantidad: <%= item.quantity %></p>
                                <p class="card-text">Precio Unitario: $<%= item.precio.toFixed(2) %></p>
                                <p class="card-text">Sucursal: <%= item.id_sucursal %> - <%= item.nombre_sucursal %></p>
                                <% if (item.direccion_envio) { %>
                                    <p class="card-text">Dirección de Envío: <%= item.direccion_envio %></p>
                                <% } %>
                                <p class="card-text">Total: $<%= item.total.toFixed(2) %></p>
                                <form action="/removeFromCart/<%= item.cart_id %>" method="POST">
                                    <button type="submit" class="btn btn-danger">Eliminar del Carrito</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="text-center mt-4">
                <form action="/createOrder" method="POST">
                    <input type="hidden" name="cart_id" value="<%= cart_id %>">
                    <button type="submit" class="btn btn-primary">Confirmar Orden</button>
                </form>
                
            </div>
        <% } else { %>
            <p>No hay productos en el carrito.</p>
        <% } %>
    </div>
    <script src="/resources/js/bootstrap.bundle.min.js"></script>
    <!-- Agrega tus scripts JS aquí -->
</body>
</html>
